@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container, body{
  @apply bg-black text-white;
}
.noscrollbar::-webkit-scrollbar {
  @apply w-0;
}
@keyframes expand {
  0% {
    width: 1em;
    height: 1em;
    border: white 0.01em solid;
    opacity: 1;
  }
  100% {
    width: 12em;
    height: 12em;
    border: white 0.1em solid;
    opacity: 0;
  }
}

.animate-expand {
  animation: expand 2s linear infinite;
}
.a-delay-200{
  animation-delay: 200ms;
}
.a-delay-600{
  animation-delay: 600ms;
}
.a-delay-900{
  animation-delay: 9000ms;
}



.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: 1.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 6em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    